<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SportLink - Inner</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <!-- 카카오 api 스크립트  -->
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5846dfc7f744d84867dbabc481ca99d5"></script>
  <!-- Template CSS File -->
  <link href="/assets/css/ticket/ticket.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <div th:replace="layout/header :: header"></div>
  <!-- End Header -->

<!-- ======= filter ======= -->
<div id="filter-container" class="container py-4">
    <section id="filter-section" class="filter-bar row justify-content-center align-items-center">
      <!-- 지역 필터링 -->
      <div class="filter col-md-3 mb-3 mb-md-0">
        <label for="location-filter" class="d-block text-center">지역</label>
        <select id="location-filter" class="form-select w-100">
            <option value="all">전체</option>
          <option value="seoul">서울</option>
          <option value="gyeonggi">경기</option>
          <option value="incheon">인천</option>
          <option value="gangwon">강원</option>
          <option value="chungcheong">충청</option>
          <option value="gyeongsang">경상</option>
          <option value="jeolla">전라</option>
          <option value="jeju">제주</option>
        </select>
      </div>
  
      <!-- 종목 필터링 -->
      <div class="filter col-md-3 mb-3 mb-md-0">
        <label for="category-filter" class="d-block text-center">종목</label>
        <select id="category-filter" class="form-select w-100">
            <option value="all">전체</option>
            <option value="Gym">헬스</option>
            <option value="Ski">스키</option>
          <option value="Golf">골프</option>
          <option value="Soccer">축구</option>
          <option value="waterLeisure">수상레저</option>
        </select>
      </div>
  
      <!-- 날짜 필터링 -->
        <div class="filter col-md-3 mb-3 mb-md-0">
            <label for="sort-filter" class="d-block text-center">정렬</label>
            <select id="sort-filter" class="form-select w-100">
                <option value="default">기본</option>
                <option value="price-asc">가격 오름차순</option>
                <option value="price-desc">가격 내림차순</option>
                <option value="date-asc">날짜 오름차순</option>
                <option value="date-desc">날짜 내림차순</option>
            </select>
        </div>
  
      <!-- 검색 버튼 -->
      <div class="filter col-md-3">
        <button id="apply-filter" class="search-button w-100">검색</button>
          <a th:if="${session.role == 'admin'}" th:href="@{/product/activity_write}" class="search-button w-100">상품추가</a>
      </div>
    </section>
  </div>
  
<!-- ======= Product Section ======= -->
<section class="product-section py-5">
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-3 gx-lg-4 row-cols-2 row-cols-md-4 row-cols-xl-5 justify-content-center">
          <!-- Product Card 1 -->
          <div th:each="product : ${activity_ticket}" class= "col mb-5 product-card" th:attr="location=${product.location}, category=${product.category}, data-enddate=${product.endDate}">
              <div class="card h-100">
                  <!-- Product Image -->
                  <img class="card-img-top" th:src="${product.imageUrl}" alt="Product Image 1" style="object-fit: cover; width: 100%; height: 200px;"/>
                  <!-- Product Details -->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product Name -->
                          <h5 class="fw-bolder" th:text="${product.title}">Fancy Product</h5>
                          <!-- Product Price -->
                          <p th:text="'₩' + ${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}">Product Price</p>
                      </div>
                  </div>
                  <!-- Product Actions -->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a th:href="@{'/product/ticket_inner/' + ${product.id}}" class="btn btn-outline-dark mt-auto">상세보기</a></div>
                  </div>
              </div>
          </div>

    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/ticket(page=${currentPage - 1}, size=${size})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/ticket(page=${i}, size=${size})}" th:text="${i + 1}">1</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/ticket(page=${currentPage + 1}, size=${size})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>


  <!-- ======= Footer ======= -->
  <div th:replace="layout/footer :: footer"></div>

  <!-- Script to load header -->
  <script src="/assets/js/common/header.js"></script>
  <script src="/assets/js/common/footer.js"></script>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script>
      document.getElementById('apply-filter').addEventListener('click', applyFilter);

  function applyFilter() {
      var locationValue = document.getElementById('location-filter').value;
      var categoryValue = document.getElementById('category-filter').value;
      var sortValue = document.getElementById('sort-filter').value;

      var productCards = document.querySelectorAll('.product-card');

      productCards.forEach(function(card) {
          var cardLocation = card.getAttribute('location');
          var cardCategory = card.getAttribute('category');

          // 각 필터가 'all'이거나 일치하는 경우에만 카드를 표시
          var displayByLocation = (locationValue === 'all' || cardLocation === locationValue);
          var displayByCategory = (categoryValue === 'all' || cardCategory === categoryValue);
          console.log("지역 필터 값:", locationValue);
          console.log("종목 필터 값:", categoryValue);

          if (displayByLocation && displayByCategory) {
              card.style.display = 'block';
          } else {
              card.style.display = 'none';
          }
      });
      var sortedCards = Array.from(productCards).filter(card => card.style.display !== 'none');

      if (sortValue === 'price-asc') {
          sortedCards.sort((a, b) => {
              var priceA = parseInt(a.querySelector('.card-body p').innerText.replace(/[^0-9]/g, ''));
              var priceB = parseInt(b.querySelector('.card-body p').innerText.replace(/[^0-9]/g, ''));
              return priceA - priceB;
          });
      } else if (sortValue === 'price-desc') {
          sortedCards.sort((a, b) => {
              var priceA = parseInt(a.querySelector('.card-body p').innerText.replace(/[^0-9]/g, ''));
              var priceB = parseInt(b.querySelector('.card-body p').innerText.replace(/[^0-9]/g, ''));
              return priceB - priceA;
          });
      } else if (sortValue === 'date-asc' || sortValue === 'date-desc') {
          sortedCards.sort((a, b) => {
              var dateA = new Date(a.getAttribute('data-enddate'));
              var dateB = new Date(b.getAttribute('data-enddate'));
              if (sortValue === 'date-asc') {
                  return dateA - dateB;
              } else {
                  return dateB - dateA;
              }
          });
      }

      var container = document.querySelector('.product-section .container .row');
      sortedCards.forEach(card => container.appendChild(card));
  }
  </script>
  <div id="preloader"></div>
  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/common/main.js"></script>

   <!-- Custom JavaScript for Write Page -->
<script src="/assets/js/product/filter.js"></script>

</body>
</html>