<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/html">

<head th:fragment="header">>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="/assets/css/common/header.css" rel="stylesheet">
  <!-- Template Main JS File -->
  <script src="/assets/js/common/main.js"></script>


</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>SportLink<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a th:href="@{/ticket}">경기관람권</a></li>
          <li><a th:href="@{/activity}">시설할인권</a></li>
          <li th:if="${session.userid == null}"><a th:href="@{/signup}">회원가입</a></li>
          <li th:if="${session.userid == null}"><a th:href="@{/login}">Login</a></li>
          <li th:if="${session.userid != null}"><a th:href="@{/qna-list}">문의하기</a></li>
          <li th:if="${session.userid != null}"><a th:href="@{/order}">주문내역</a></li>
          <li th:if="${session.userid != null}"><a th:href="@{'/member_info/' + ${session.userid}}">내정보</a></li>
          <li th:if="${session.role == 'admin'}"><a th:href="@{/member_list}">회원목록</a></li>
          <li th:if="${session.userid != null}"><a th:href="@{/logout}">Logout</a></li>
        </ul>
        <div class="container" style="width: 268px;">
          <span class="weatherInfo"></span>
          <img class="weatherIcon">
        </div>
      </nav>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>

  </header><!-- End Header -->
</body>