server:
  port: 8080

# database 연동 설정
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    #    각자 PC에 만들어놓은 Database이름을 써야 합니다.
    url: jdbc:mysql://sportlink.cvaeikuoavom.ap-northeast-2.rds.amazonaws.com:3306/sportlink

    username: root
    password: 01036091066
  thymeleaf:
    cache: false
    # 404 에러 페이지를 표시하지 않게 하고, 존재하지 않는 핸들러에 대한 예외를 발생시키도록 합니다.
  mvc:
    throw-exception-if-no-handler-found=true
  web:
    resources:
      add-mappings=false

  # spring data jpa 설정
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: update



  file:
    upload:
      directory: src/main/resources/static/image/


  spring:
    servlet:
      multipart:
        max-file-size: 10MB
        max-request-size: 10MB
