<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SportLink - login</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Custom CSS for Detail Page -->
  <link href="/assets/css/login/login.css" rel="stylesheet">
</head>

<body>
<th:block th:if="${msg}">
    <script>
        top.alert("[[${msg}]]");
    </script>
</th:block>
  <!-- ======= Header ======= -->
  <div th:replace="layout/header :: header"></div>
  <!-- End Header -->
   <!-- ======= login ======= -->
  <form action = "/loginProc" method="post" id="f">
      <div class="login-container">
            <h1 style="text-align: center">로그인</h1><br>

            <div class="input-field" >
                <input type="text" name="userid" id="userid" placeholder="아이디">
            </div>
            <div class="input-field">
                <input type="password" name="pw" id="pw" placeholder="비밀번호">
            </div>
              <tr>
                  <td>
                      <span style="color: red;text-align: center" th:text="${msg}"></span>
                  </td>
              </tr>
            <div class="login-button">
                <button type="submit">Login</button>
            </div>
            <div class="kakao-button">
              <a href=https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=d08e141ab68de7d1967abb180fd6727f&redirect_uri=http://localhost:8080/KakaoLogin>
                  <img src="assets/img/KakaoLogin.png" width=183 />
              </a>
            </div>
              <div class="naver-button">
                  <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=p3ROwzA2JVE8fm6AJHhi&redirect_uri=http://localhost:8080/NaverLogin">
                      <img src="assets/img/NaverLogin.png" width=183 />
                  </a>
              </div>
      </div>
  </form>
<br>
  <!-- ======= Footer ======= -->
  <div th:replace="layout/footer :: footer"></div>

  <!-- Script to load header -->
    <!-- Script to load header -->
    <script src="/assets/js/common/header.js"></script>
    <script src="/assets/js/common/footer.js"></script>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/common/main.js"></script>
<script src="/assets/js/login/login.js"></script>

<!--네이버 로그인 SDK-->
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

</body>
</html>