<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SportLink - 회원 목록</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Custom CSS File -->
  <link href="/assets/css/qna/qna.css" rel="stylesheet">
  <style>
    /* 각 셀의 너비를 고정합니다. */
    th, td {
      width: 200px; /* 적절한 너비 설정 */
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  </style>
</head>

<body>
<th:block th:if="${msg}">
  <script>
    top.alert("[[${msg}]]");
  </script>
</th:block>
<!-- ======= Header ======= -->
<div th:replace="layout/header :: header"></div>
<!-- End Header -->

<!-- ======= 회원 목록 Section ======= -->
<section id="board" class="board">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="board-content">
          <h2>회원 목록</h2>
          <p>이 페이지는 관리자 전용입니다.</p>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">아이디</th>
              <th scope="col">이름</th>
              <th scope="col">이메일</th>
              <th scope="col">전화번호</th>
              <th scope="col">가입날짜</th>
              <th scope="col">권한</th>
            </tr>
            </thead>
            <tbody id="boardContent">
            <tr th:each="member : ${memberPage.content}">
              <td><a th:href="@{'/member_info/' + ${member.userid}}" th:text="${member.userid}"></a></td>
              <td th:text="${member.username}"></td>
              <td th:text="${member.email}"></td>
              <td th:text="${member.mobile}"></td>
              <td th:text="${member.create_date}"></td>
              <td th:text="${member.role}"></td>
            </tr>
            </tbody>
          </table>
<!--          페이지 네이션 영역-->
          <nav aria-label="Page navigation">
            <ul class="pagination d-flex justify-content-center">
              <!-- 현재 페이지가 1보다 크면 이전 페이지로 이동할 수 있는 링크 표시 -->
              <li class="page-item" th:if="${memberPage.number > 0}">
                <a class="page-link" th:href="@{'/member_list?page=' + ${memberPage.number - 1}}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>

              <!-- 전체 페이지 수를 기준으로 페이지 번호를 표시 -->
              <li class="page-item" th:each="i : ${#numbers.sequence(1, memberPage.totalPages)}"
                  th:classappend="${memberPage.number + 1 == i} ? 'active'">
                <a class="page-link" th:href="@{'/member_list?page=' + ${i - 1}}" th:text="${i}">1</a>
              </li>

              <!-- 현재 페이지가 전체 페이지 수보다 작으면 다음 페이지로 이동할 수 있는 링크 표시 -->
              <li class="page-item" th:if="${memberPage.number + 1 < memberPage.totalPages}">
                <a class="page-link" th:href="@{'/member_list?page=' + ${memberPage.number + 1}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section><!-- End 문의사항 게시판 Section -->

<!--<script th:inline="javascript">-->
<!--  $(document).ready(function() {-->
<!--    // 페이지 이동 버튼 클릭 시 이벤트 처리-->
<!--    $('.page-link').click(function(e) {-->
<!--      e.preventDefault();-->
<!--      var url = $(this).attr('href'); // 클릭된 버튼의 URL-->
<!--      var size = getUrlParameter(url, 'size'); // URL에서 페이지 크기 추출-->

<!--      // 페이지 크기가 null이 아닌 경우에만 페이지 이동-->
<!--      if (size !== null && size !== 'null') {-->
<!--        window.location.href = url; // 페이지 이동-->
<!--      }-->
<!--    });-->

<!--    // URL에서 파라미터 값을 추출하는 함수-->
<!--    function getUrlParameter(url, name) {-->
<!--      name = name.replace(/[\[\]]/g, '\\$&');-->
<!--      var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)');-->
<!--      var results = regex.exec(url);-->
<!--      if (!results) return null;-->
<!--      if (!results[2] || results[2] === 'null') return null; // size 값이 null이면 null 반환-->
<!--      return decodeURIComponent(results[2].replace(/\+/g, ' '));-->
<!--    }-->
<!--  });-->

<!--</script>-->


<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- ======= Footer ======= -->
<div th:replace="layout/footer :: footer"></div>


<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/common/main.js"></script>

</body>

</html>
