<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SportLink - 회원가입</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template CSS File -->
  <link href="/assets/css/user/signup.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <div th:replace="~{layout/header :: header}"}></div>
  <!-- End Header -->

  <!-- ======= 회원가입 Section ======= -->
  <section id="signup" class="signup">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="signup-content">
            <h2>회원가입</h2>
            <p>아래 양식을 작성하여 회원가입하세요.</p>
            <tr>
              <td>
                <span style="color: red" th:text="${msg}"></span>
              </td>
            </tr>
            <form action="/signupProc" method="post" class="signupform" id="f">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="userid" class="form-control" id="userid" placeholder="아이디" required>
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" name="username" class="form-control" id="username" placeholder="이름" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="password" class="form-control" name="pw" id="pw" placeholder="비밀번호" required>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="이메일" required>
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" oninput="oninputPhone(this)" maxlength="13" class="form-control" name="mobile" id="mobile" placeholder="전화번호" required>
                </div>
              </div>
              <div class="text-center"><button type="submit" id="signup-button">회원가입</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End 회원가입 Section -->
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- ======= Footer ======= -->
  <div th:replace="~{layout/footer :: footer}"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/common/main.js"></script>

  <script src="/assets/js/user/signup.js"></script>
</body>

</html>
