<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SportLink - 문의하기</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Custom CSS File -->
  <link href="/assets/css/qna/qna_write.css" rel="stylesheet">
</head>
<body>
  <!-- ======= Header ======= -->
  <div th:replace="layout/header :: header"></div>
  <!-- End Header -->

  <!-- ======= 문의하기 Section ======= -->
  <section id="contact" class="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="contact-form">
            <h2>문의하기</h2>
            <p>문의사항이 있으시면 아래 양식을 작성해주세요.</p>
            <form id="contactForm" action="/qna/save" method="POST">
              <div class="form-group">
                <input type="text" id="author" name="author" class="form-control" placeholder="이름" th:value="${session.userid}" required>
              </div>
              <div class="form-group">
                <input type="text" id="title" name="title" class="form-control" placeholder="제목" th:value="'[' + ${product} + '] '" required>
              </div>
              <div class="form-group">
                <textarea id="content" name="content" class="form-control" rows="5" placeholder="문의 내용" required></textarea>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">제출</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End 문의하기 Section -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- ======= Footer ======= -->
  <div th:replace="layout/footer :: footer"></div>


  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/common/main.js"></script>

</body>
</html>
