/* Fonts */
:root {
    --font-default: "Noto Sans KR", sans-serif;
    --font-primary: "Noto Sans KR", sans-serif;
    --font-secondary: "Noto Sans KR", sans-serif;
  }
  
  /* Colors */
  :root {
    --color-default: #212529;
    --color-primary: #5d218e;
    --color-secondary: #37373f;
  }
  
  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }
  

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  .footer {
    font-size: 14px;
    background-color: #1f1f24;
    padding: 30px 0;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .footer .copyright {
    text-align: center;
    padding-top: 10px;
  }
  
  